<%- include("partials/header.ejs") %>


<body class="about-page">

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center">
         
        <h1 class="sitename">Nova</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="/userhome" class="active">Home<br></a></li>
          <li><a href="/userabout">About</a></li>
           

          <li class="dropdown"><a href="#"><span>Advisory</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="/useradvisory">E-books & Mental Health Relief</a></li>
            </ul>
          </li>

          <li class="dropdown"><a href="#"><span>PsyBot</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="/bot">Get analysis of mental health</a></li>
            </ul>
          </li>

          <li class="dropdown"><a href="#"><span>Psylocator</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="/locator">Find nearest psychiatrist</a></li>
            </ul>
          </li>

          
          <li><a href="/userblog">Blog</a></li>
           

          <li class="dropdown"><a href="#"><span>Profile</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="/profile">User</a></li>
              <li><a href="/">Logout</a></li>
            </ul>
          </li>

           
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

    </div>
  </header>

  <main class="main">

    <!-- Page Title -->
    <div class="page-title dark-background" data-aos="fade" style="background-image: url(assets/img/about-page-title-bg.jpg);">
      <div class="container">
        <h1>Psylocator</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="/userhome">Home</a></li>
            <li class="current">Psylocator</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    


     


    <div>

      <!-- Do your work here  -->

    </div>


     


     

       

           
 
 

  </main>

  <%- include("partials/footer.ejs") %>


</body>

</html>