<%- include("partials/header.ejs") %>


<body class="services-page">

    <header id="header" class="header d-flex align-items-center fixed-top">
        <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">
    
          <a href="/" class="logo d-flex align-items-center">
             
            <h1 class="sitename">MindCare</h1>
          </a>
    
          <nav id="navmenu" class="navmenu">
            <ul>
              <li><a href="/userhome" class="active">Home<br></a></li>
              <li><a href="/userabout">About</a></li>
               
    
              <li class="dropdown"><a href="#"><span>Advisory</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                  <li><a href="/useradvisory">E-books & Mental Health Relief</a></li>
                </ul>
              </li>
    
              <li class="dropdown"><a href="#"><span>PsyBot</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                  <li><a href="/bot">Mental health analysis chatbot</a></li>
                  <li><a href="#">Mental health assesment & analysis</a></li>
                </ul>
              </li>
    
              <li class="dropdown"><a href="#"><span>Psylocator</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                  <li><a href="/locator">Find nearest psychiatrist</a></li>
                </ul>
              </li>
    
              
              <li><a href="/userblog">Blog</a></li>
               
    
              <li class="dropdown"><a href="#"><span>Profile</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                  <li><a href="/profile">User</a></li>
                  <li><a href="/">Logout</a></li>
                </ul>
              </li>
    
               
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
          </nav>
    
        </div>
      </header>


  <main class="main">

    <!-- Page Title -->
    <div class="page-title dark-background" data-aos="fade" style="background-image: url(assets/img/services-page-title-bg.jpg);">
      <div class="container">
        <h1>Advisory</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="/userhome">Home</a></li>
            <li class="current">Advisory</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->


  <!-- Services Section -->
  <section id="services" class="services section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Advisory</h2>
      <p>What you feeling & experiencing</p>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="row gy-4">
 



<!-- Service Item -->
<!-- angry -->
<div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
<div class="icon flex-shrink-0">
    <!-- Custom Icon Image -->
     
    <img src="assets/img/icon/anger.png" alt="Icon" class="icon-image" style="width: 35px; height: 35px;">
</div>
<div class="content ms-2">
    <h4 class="title">Angry</h4>
    <p class="description">We all get mad and annoyed sometimes. It’s natural. But when those emotions happen way too often, they can be distracting, stressful, and we need to manage them before things get worse</p>
    <!-- Trigger for Modal -->
    <a href="#" class="readmore stretched-link" data-bs-toggle="modal" data-bs-target="#learnMoreModal"><span>Learn More</span><i class="bi bi-arrow-right"></i></a>
</div>
</div>
<!-- End Service Item -->

<!-- Modal Structure -->
<div class="modal fade" id="learnMoreModal" tabindex="-1" aria-labelledby="learnMoreModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
             
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <!-- Additional content goes here -->
            <p>We all get angry. It’s a normal, natural response to feeling hurt or threatened by situations, other people, and sometimes even ourselves. Anger isn’t always bad. It can motivate us to solve problems, make changes and improve our lives. While we can’t always predict or control our emotional reactions, we can manage our response.
            </p>


            <div class="c-FiftyFiftyCard container">
              <div class="row align-items-center">
                  <!-- Left Side Image -->
                  <div class="col-6 col-md-4">
                      <a href="https://www.youtube.com/watch?v=cZJAsW_5SRA" target="_blank" class="c-CardHighlight t-link">
                          <div class="c-CardHighlight-img" style="width: 100%; height: 0; padding-top: 75%; position: relative; overflow: hidden; border-radius: 8px; background-color: #f2f2f2;">
                              <img class="c-CardHighlight-img-inner" src="https://s3.amazonaws.com/mentalhealthishealth.com-production/wp-content/uploads/2021/04/27004256/Placeholder_Red.png" alt="Meditation image" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;">
                          </div>
                      </a>
                  </div>
          
                  <!-- Right Side Content -->
                  <div class="col-6 col-md-8">
                      <div class="c-FiftyFiftyCard-content">
                           
                          <h4 class="c-CardHighlight-title t-h4">Try Meditation to Get Relief</h4>
                          <div class="t-wysiwyg t-text--lg">
                              <p>A reactive state can make it tough to make sound decisions. The best thing to do is to breathe, and if possible, step away from the cause of our anger. That’s how we gain perspective and start to find solutions.</p>
                          </div>
                          <!-- Button Section -->
                          <div class="t-btn-primary mt-3">
                              <a href="https://www.youtube.com/watch?v=cZJAsW_5SRA" target="_blank" class="btn btn-primary">Try it now</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
</div>
</div>

         





<!-- Anxious Item -->
<div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="200">
<div class="icon flex-shrink-0">
  <!-- Custom Icon Image for Anxious -->
  <img src="assets/img/icon/stress.png" alt="Icon" class="icon-image" style="width: 35px; height: 35px;">
</div>
<div class="content ms-2">
  <h4 class="title">Anxious</h4>
  <p class="description">Many people struggle with feelings of anxiety. But we can work through and overcome those feelings to make the most of work, school, relationships and life</p>
  <!-- Trigger for Modal -->
  <a href="#" class="readmore stretched-link" data-bs-toggle="modal" data-bs-target="#anxiousModal"><span>Learn More</span><i class="bi bi-arrow-right"></i></a>
</div>
</div>
<!-- End Service Item -->

<!-- Modal Structure for Anxious -->
<div class="modal fade" id="anxiousModal" tabindex="-1" aria-labelledby="anxiousModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
       
      <p>Anxiety is a normal emotion that evolved as an age-old survival instinct from when humans faced frequent threats. That response to stressful situations still exists inside all of us, and it can be overwhelming. If anxiety starts to interfere with our ability to enjoy life, it’s time to manage those feelings in a healthy way.</p>

      <div class="c-FiftyFiftyCard container">
        <div class="row align-items-center">
          <!-- Left Side Image -->
          <div class="col-6 col-md-4">
            <a href="https://www.youtube.com/watch?v=c1Ndym-IsQg" target="_blank" class="c-CardHighlight t-link">
              <div class="c-CardHighlight-img" style="width: 100%; height: 0; padding-top: 75%; position: relative; overflow: hidden; border-radius: 8px; background-color: #f2f2f2;">
                <img class="c-CardHighlight-img-inner" src="https://s3.amazonaws.com/mentalhealthishealth.com-production/wp-content/uploads/2021/04/27004257/Placeholder_Yellow.png" alt="Anxiety relief" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;">
              </div>
            </a>
          </div>

          <!-- Right Side Content -->
          <div class="col-6 col-md-8">
            <div class="c-FiftyFiftyCard-content">
              <h4 class="c-CardHighlight-title t-h4">Try Breathing Exercises</h4>
              <div class="t-wysiwyg t-text--lg">
                <p>Practicing deep breathing exercises can be a simple yet effective way to calm the mind and reduce feelings of anxiety. Take a few moments to breathe slowly and deeply, focusing on the rhythm.</p>
              </div>
              <!-- Button Section -->
              <div class="t-btn-primary mt-3">
                <a href="https://www.youtube.com/watch?v=c1Ndym-IsQg" target="_blank" class="btn btn-primary">Try it now</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </div>
  </div>
</div>
</div>









<!-- Sad Item -->
<div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="300">
<div class="icon flex-shrink-0">
  <!-- Custom Icon Image for Sad -->
  <img src="assets/img/icon/sad.png" alt="Icon" class="icon-image" style="width: 35px; height: 35px;">
</div>
<div class="content ms-2">
  <h4 class="title">Sad</h4>
  <p class="description">Feeling down from time to time is part of life, but there are ways to find light and lift your spirits when sadness feels overwhelming.</p>
  <!-- Trigger for Modal -->
  <a href="#" class="readmore stretched-link" data-bs-toggle="modal" data-bs-target="#sadModal"><span>Learn More</span><i class="bi bi-arrow-right"></i></a>
</div>
</div>
<!-- End Service Item -->

<!-- Modal Structure for Sad -->
<div class="modal fade" id="sadModal" tabindex="-1" aria-labelledby="sadModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <h4 class="modal-title" id="sadModalLabel">Managing Sadness</h4>
      <p>Sadness is a natural response to life's challenges. Allow yourself to feel it, but know there are simple actions to help you cope and feel better.</p>

      <div class="c-FiftyFiftyCard container">
        <div class="row align-items-center">
          <!-- Left Side Image -->
          <div class="col-6 col-md-4">
            <a href="https://www.youtube.com/watch?v=cEqZthCaMpo" target="_blank" class="c-CardHighlight t-link">
              <div class="c-CardHighlight-img" style="width: 100%; height: 0; padding-top: 75%; position: relative; overflow: hidden; border-radius: 8px; background-color: #f2f2f2;">
                <img class="c-CardHighlight-img-inner" src="https://s3.amazonaws.com/mentalhealthishealth.com-production/wp-content/uploads/2021/04/27004254/Placeholder_Green.png" alt="Sadness relief" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;">
              </div>
            </a>
          </div>

          <!-- Right Side Content -->
          <div class="col-6 col-md-8">
            <div class="c-FiftyFiftyCard-content">
              <h4 class="c-CardHighlight-title t-h4">Practice Gratitude to Lift Your Spirits</h4>
              <div class="t-wysiwyg t-text--lg">
                <p>Reflecting on moments or people you're grateful for can ease sadness. Take a few minutes to write down things you're thankful for to shift your focus to the positive.</p>
              </div>
              <!-- Button Section -->
              <div class="t-btn-primary mt-3">
                <a href="https://www.youtube.com/watch?v=cEqZthCaMpo" target="_blank" class="btn btn-primary">Try it now</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </div>
  </div>
</div>
</div>











<!-- Hopeless Item -->
<div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="400">
<div class="icon flex-shrink-0">
  <img src="assets/img/icon/hopelessness.png" alt="Hopeless Icon" class="icon-image" style="width: 35px; height: 35px;">
</div>
<div class="content ms-2">
  <h4 class="title">Hopeless</h4>
  <p class="description">Feeling hopeless can be overwhelming, but small steps can help bring back a sense of purpose and control in life.</p>
  <a href="#" class="readmore stretched-link" data-bs-toggle="modal" data-bs-target="#hopelessModal"><span>Learn More</span><i class="bi bi-arrow-right"></i></a>
</div>
</div>

<!-- Modal Structure for Hopeless -->
<div class="modal fade" id="hopelessModal" tabindex="-1" aria-labelledby="hopelessModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <h4 class="modal-title" id="hopelessModalLabel">Finding Hope Again</h4>
      <p>When everything feels pointless, remember that small actions can create change. Starting with small goals can bring a sense of achievement.</p>

      <div class="c-FiftyFiftyCard container">
        <div class="row align-items-center">
          <div class="col-6 col-md-4">
            <a href="https://www.youtube.com/embed/NmLa7KFa1MQ" target="_blank" class="c-CardHighlight t-link">
              <div class="c-CardHighlight-img" style="width: 100%; padding-top: 75%; position: relative; overflow: hidden; border-radius: 8px; background-color: #f2f2f2;">
                <img class="c-CardHighlight-img-inner" src="https://s3.amazonaws.com/mentalhealthishealth.com-production/wp-content/uploads/2021/04/27004256/Placeholder_Red.png" alt="Hopelessness relief" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;">
              </div>
            </a>
          </div>

          <div class="col-6 col-md-8">
            <h4>Set Small Goals to Regain Purpose</h4>
            <p>Break big challenges into smaller, manageable goals. Achieving even small tasks can restore a sense of purpose and hope.</p>
            <div class="t-btn-primary mt-3">
              <a href="https://www.youtube.com/embed/NmLa7KFa1MQ" target="_blank" class="btn btn-primary">Try it now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </div>
  </div>
</div>
</div>











<!-- Lonely Item -->
<div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="500">
<div class="icon flex-shrink-0">
  <img src="assets/img/icon/lonely.png" alt="Lonely Icon" class="icon-image" style="width: 35px; height: 35px;">
</div>
<div class="content ms-2">
  <h4 class="title">Lonely</h4>
  <p class="description">Loneliness can feel isolating, but connecting with others or engaging in activities can help bring comfort.</p>
  <a href="#" class="readmore stretched-link" data-bs-toggle="modal" data-bs-target="#lonelyModal"><span>Learn More</span><i class="bi bi-arrow-right"></i></a>
</div>
</div>

<!-- Modal Structure for Lonely -->
<div class="modal fade" id="lonelyModal" tabindex="-1" aria-labelledby="lonelyModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <h4 class="modal-title" id="lonelyModalLabel">Overcoming Loneliness</h4>
      <p>Feeling lonely can be difficult, but connecting with others or engaging in meaningful activities can help.</p>

      <div class="c-FiftyFiftyCard container">
        <div class="row align-items-center">
          <div class="col-6 col-md-4">
            <a href="https://www.youtube.com/watch?v=Mqqxi8mt4t0" target="_blank" class="c-CardHighlight t-link">
              <div class="c-CardHighlight-img" style="width: 100%; padding-top: 75%; position: relative; overflow: hidden; border-radius: 8px; background-color: #f2f2f2;">
                <img class="c-CardHighlight-img-inner" src="https://s3.amazonaws.com/mentalhealthishealth.com-production/wp-content/uploads/2021/04/27004254/Placeholder_Green.png" alt="Loneliness relief" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;">
              </div>
            </a>
          </div>

          <div class="col-6 col-md-8">
            <h4>Connect with Others</h4>
            <p>Reaching out to someone or engaging in a community activity can help alleviate feelings of loneliness.</p>
            <div class="t-btn-primary mt-3">
              <a href="https://www.youtube.com/watch?v=Mqqxi8mt4t0" target="_blank" class="btn btn-primary">Try it now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </div>
  </div>
</div>
</div>













<!-- Stressed Item -->
<div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="600">
<div class="icon flex-shrink-0">
  <img src="assets/img/icon/stressed.png" alt="Stressed Icon" class="icon-image" style="width: 35px; height: 35px;">
</div>
<div class="content ms-2">
  <h4 class="title">Stressed</h4>
  <p class="description">Stress can feel like a heavy load, but there are ways to manage it and find balance.</p>
  <a href="#" class="readmore stretched-link" data-bs-toggle="modal" data-bs-target="#stressedModal"><span>Learn More</span><i class="bi bi-arrow-right"></i></a>
</div>
</div>

<!-- Modal Structure for Stressed -->
<div class="modal fade" id="stressedModal" tabindex="-1" aria-labelledby="stressedModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <h4 class="modal-title" id="stressedModalLabel">Managing Stress</h4>
      <p>Stress is a common part of life. Practicing relaxation techniques can help you better manage it.</p>

      <div class="c-FiftyFiftyCard container">
        <div class="row align-items-center">
          <div class="col-6 col-md-4">
            <a href="https://www.youtube.com/watch?v=c1Ndym-IsQg" target="_blank" class="c-CardHighlight t-link">
              <div class="c-CardHighlight-img" style="width: 100%; padding-top: 75%; position: relative; overflow: hidden; border-radius: 8px; background-color: #f2f2f2;">
                <img class="c-CardHighlight-img-inner" src="https://s3.amazonaws.com/mentalhealthishealth.com-production/wp-content/uploads/2021/04/27004254/Placeholder_Green.png" alt="Stress relief" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;">
              </div>
            </a>
          </div>

          <div class="col-6 col-md-8">
            <h4>Practice Deep Breathing</h4>
            <p>Deep breathing exercises are effective for reducing stress and improving mental clarity.</p>
            <div class="t-btn-primary mt-3">
              <a href="https://www.youtube.com/watch?v=c1Ndym-IsQg" target="_blank" class="btn btn-primary">Try it now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </div>
  </div>
</div>
</div>




      </div>

    </div>

  </section><!-- /Services Section -->





<!-- Section Title -->
<div class="container section-title" data-aos="fade-up">
  <h2>E-books</h2>
</div><!-- End Section Title -->

<!-- E-book Section -->
<section id="service-cards" class="service-cards section">

  <div class="container-fluid">

    <div class="row gy-4">

      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <div class="card-item">
          <div class="row">
            <div class="col-xl-5">
              <div class="card-bg">
                <a href="https://archive.org/download/JosephMurphyThePowerOfYourSubconciousMind1988/Joseph%20Murphy%20-%20The%20Power%20of%20Your%20Subconcious%20Mind%20(1988).pdf" target="_blank">
                  <img src="https://images.meesho.com/images/products/81668124/bydak_512.webp" alt="The Power of Your Subconscious Mind" style="width: 100%; height: 100%; object-fit: cover;">
                </a>
              </div>
            </div>
            <div class="col-xl-7 d-flex align-items-center">
              <div class="card-body">
                <h4 class="card-title">The Power of Your Subconscious Mind</h4>
                <p>Unlock your mind's potential with techniques to harness your subconscious for personal growth and well-being.</p>
              </div>
            </div>
          </div>
        </div>
      </div><!-- End Card Item -->

      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
        <div class="card-item">
          <div class="row">
            <div class="col-xl-5">
              <div class="card-bg">
                <a href="https://www.pdfdrive.com/the-mindful-way-through-anxiety-break-free-from-chronic-worry-and-reclaim-your-life-e158212643.html" target="_blank">
                  <img src="assets/img/book/mwta.jpg" alt="The Mindful Way Through Anxiety" style="width: 100%; height: 100%; object-fit: cover;">
                </a>
              </div>
            </div>
            <div class="col-xl-7 d-flex align-items-center">
              <div class="card-body">
                <h4 class="card-title">The Mindful Way Through Anxiety</h4>
                <p>A practical guide to using mindfulness and meditation techniques to alleviate anxiety and enhance mental well-being.</p>
              </div>
            </div>
          </div>
        </div>
      </div><!-- End Card Item -->

      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
        <div class="card-item">
          <div class="row">
            <div class="col-xl-5">
              <div class="card-bg">
                <a href="https://www.pdfdrive.com/the-body-keeps-the-score-brain-mind-and-body-in-the-healing-of-trauma-e166791122.html" target="_blank">
                  <img src="https://m.media-amazon.com/images/I/71BCCd79xgL.jpg" alt="The Body Keeps the Score" style="width: 100%; height: 100%; object-fit: cover;">
                </a>
              </div>
            </div>
            <div class="col-xl-7 d-flex align-items-center">
              <div class="card-body">
                <h4 class="card-title">The Body Keeps the Score</h4>
                <p>Discover how trauma impacts both body and mind, and explore effective strategies for healing and recovery.</p>
              </div>
            </div>
          </div>
        </div>
      </div><!-- End Card Item -->

      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
        <div class="card-item">
          <div class="row">
            <div class="col-xl-5">
              <div class="card-bg">
                <a href="https://www.pdfdrive.com/daring-greatly-how-the-courage-to-be-vulnerable-transforms-the-way-we-live-love-parent-and-lead-e194483101.html" target="_blank">
                  <img src="https://static.oprah.com/images/own/2013/supersoulsunday/20130310/20130324-sss-brene-brown-6-220x312.jpg" alt="Daring Greatly" style="width: 100%; height: 100%; object-fit: cover;">
                </a>
              </div>
            </div>
            <div class="col-xl-7 d-flex align-items-center">
              <div class="card-body">
                <h4 class="card-title">Daring Greatly</h4>
                <p>Uncover the transformative power of vulnerability and how embracing it can lead to deeper connections and fulfillment.</p>
              </div>
            </div>
          </div>
        </div>
      </div><!-- End Card Item -->

      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
        <div class="card-item">
          <div class="row">
            <div class="col-xl-5">
              <div class="card-bg">
                <a href="https://www.pdfdrive.com/the-art-of-happiness-10th-anniversary-edition-e47769053.html" target="_blank">
                  <img src="https://m.media-amazon.com/images/I/71g3GNPZplL._AC_UF1000,1000_QL80_.jpg" alt="Daring Greatly" style="width: 100%; height: 100%; object-fit: cover;">
                </a>
              </div>
            </div>
            <div class="col-xl-7 d-flex align-items-center">
              <div class="card-body">
                <h4 class="card-title">The Art of Happiness</h4>
                <p>A blend of the Dalai Lama's insights and Western psychology, this book highlights compassion and mindfulness as keys to true happiness.</p>
              </div>
            </div>
          </div>
        </div>
      </div><!-- End Card Item -->

      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
        <div class="card-item">
          <div class="row">
            <div class="col-xl-5">
              <div class="card-bg">
                <a href="https://www.pdfdrive.com/lost-connections-uncovering-the-real-causes-of-depression-e194630997.html" target="_blank">
                  <img src="https://m.media-amazon.com/images/I/71gZm6XWvyL._AC_UF1000,1000_QL80_.jpg" alt="Daring Greatly" style="width: 100%; height: 100%; object-fit: cover;">
                </a>
              </div>
            </div>
            <div class="col-xl-7 d-flex align-items-center">
              <div class="card-body">
                <h4 class="card-title">Lost Connections: Uncovering the Real Causes of Depression – and the Unexpected Solutions</h4>
                <p>This book uncovers hidden causes of depression and emphasizes the importance of reconnection with community and relationships for healing.</p>
              </div>
            </div>
          </div>
        </div>
      </div><!-- End Card Item -->

    </div>

  </div>

</section><!-- /E-book Section -->



    <!-- Testimonials Section -->
    <section id="testimonials" class="testimonials section">

     
      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Testimonials</h2>
        <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="swiper init-swiper">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              },
              "breakpoints": {
                "320": {
                  "slidesPerView": 1,
                  "spaceBetween": 40
                },
                "1200": {
                  "slidesPerView": 3,
                  "spaceBetween": 1
                }
              }
            }
          </script>
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                </p>
                <div class="profile mt-auto">
                  <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                  <h3>Saul Goodman</h3>
                  <h4>Ceo &amp; Founder</h4>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                </p>
                <div class="profile mt-auto">
                  <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                  <h3>Sara Wilsson</h3>
                  <h4>Designer</h4>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                </p>
                <div class="profile mt-auto">
                  <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                  <h3>Jena Karlis</h3>
                  <h4>Store Owner</h4>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                </p>
                <div class="profile mt-auto">
                  <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                  <h3>Matt Brandon</h3>
                  <h4>Freelancer</h4>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                </p>
                <div class="profile mt-auto">
                  <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                  <h3>John Larson</h3>
                  <h4>Entrepreneur</h4>
                </div>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>

    </section><!-- /Testimonials Section -->

  </main>

  <%- include("partials/footer.ejs") %>


</body>

</html>